.input-weight {
  border: solid 3px var(--color-orange);
  background-color: var(--color-white);
  display: inline-flex;

  &:focus {
    border: solid 3px rgb(248, 203, 120);
  }
  input {
    text-align: center;
    margin-right: 10px;
    border: none;
    &:focus {
      outline: none;
    }
  }
  span {
    text-align: center;
    font-size: 17px;
    text-transform: capitalize;
    margin: auto 20px;
  }
}
